mat-card {
  width : 150px;
  height: auto;
}

.wrapper {
  display       : flex;
  flex-direction: row;
  gap           : 3em;
}

.card-title {
  margin-left: 10px;
}


.icons {
  height         : 75px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : flex-end;

}

.icons-half {
  display       : flex;
  flex-direction: row;

}

.column-flex {
  display       : flex;
  flex-direction: column;

}


mat-icon {
  cursor: pointer;
}

.row-flex {


  display              : grid;
  grid-template-columns: auto auto auto auto;
  justify-content      : center;
  align-items          : center;
  gap                  : 5rem;

}

.add-note-card {
  max-width       : 150px;
  min-height      : 150px;
  flex            : 1;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: aquamarine;
}
